html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
}

/*Regras do cabeçalho*/
.logo{
    height: 100%;
    margin: 0;
    padding: 0;
}

.Carrinho_Login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.containerLogin, .containerCarrinho{
    color: white;
}


.containerLogin:hover, .containerCarrinho:hover{
    color: #FFD48F;
    text-decoration: none;
}

.containerLogin:hover svg, .containerCarrinho:hover svg{
    fill: #FFD48F;
}

.containerCarrinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.iconeCarrinho{
    fill: white;
}


.iconeLogin{
    fill: white;
}


.cabecalho>input{
    width: auto;
    margin: auto;
}

.campo_busca{
    display: grid;
    width:45%;
    position: relative;
    
}

.barra_pesquisa{
    width: 100%;
    height: 40px;
    border-radius: 2px;
}

.barra_pesquisa, .botao_pesquisar{padding: 0;}

.botao_pesquisar{
    position: absolute; 
    top: 33px; 
    bottom: 10px;
    right: 20px;
    height: 10px;
}

.botao_pesquisar{
    position: absolute; 
    top: 33px; 
    bottom: 10px;
    right: 20px;
    height: 10px;
}

.botao_pesquisar:hover svg{
    fill: #A58654;
}


/*Fim de Regras do Cabeçalho*/

/*Configurações do Menu*/
.configNav{
    background-color: #2C2C32;

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link{
    border-bottom: #2C2C32 inset 2px;


}

.dropdown-item{
    color: aliceblue;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: aliceblue;
    border-bottom: inset 2px #FFD48F;
}

.dropdown-menu{
    background-color: #2C2C32;

}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: #EEBE6E;
}
/*fim de Regras do menu*/


/*Configurações do rodapé*/
.textoRodape{
    color: white;
    padding: 10px;

}

.textoRodape>p>a{
    color: white;
}

.textoRodape>p>a:hover{
    color: #EEBE6E;
    text-decoration: underline;
}
/*Fim de regras do rodapé*/

/*Regras do conteudo*/
/*
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
*****************************************
/*Fim de regras do conteudo*/

/*Configurações de responsividade*/
@media(max-width: 1640px){
    .containerLogin, .containerCarrinho {
        color: white;
        font-size: 13px;
        margin: 0 0 0 5px;
    }
}

@media(max-width: 1360px){
    .containerLogin svg, .containerCarrinho svg{
        height: 40px;
        width: 40px;
    }

    .containerLogin, .containerCarrinho {
        color: white;
        font-size: 0px;
        margin: 0 0 0 5px;
    }

    .botao_pesquisar{
        top: 16px; 
        bottom: 10px;
        right: 20px;
        height: 8px;
    }
}


@media(max-width: 995px){
    .textoRodape{
        padding-top: 30px;
    }

    .configNav{
        background-color: #1F1F25;
    }

    .containerLogin svg, .containerCarrinho svg{
        height: 60px;
        width: 60px;
    }
    .containerLogin{
        font-size: 20px;
    }
    .containerCarrinho{
        font-size: 20px;
    
    }

    .botao_pesquisar{
        position: absolute; 
        top: 0px; 
        right: 20px;
    }

    .campo_busca{
        align-self: flex-start !important;
    }
    

}

@media(max-width: 720px){
    .containerLogin{
        font-size: 0;
    }
    .containerCarrinho{
        font-size: 0;
    
    }
}


.bloco-texto3{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 5em;
}

.bloco-texto2{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 3em;
}

.bloco-texto6{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 6em;
}

.bloco-texto9{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 2em;
}

.bloco-texto5{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 1em;
}



.content4 {      /* tamanho das logos do cabecalio e class content */
    margin: 0 auto;
    width: 100%;

    text-align: center;
}

.texto3{   /* alinhas o texto no centro */
    text-align: center;
}

.texto3 strong{ /* alterar a cor do negrito */
    color: #646464;
}

.img3{
    height: 100%;
    width: 100%;
}

.bloco-texto{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 5em;
}

.texto-coluna{
    text-align: center;
    width: 350px;
}

.coluna2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.textocard{   /* alinhas o texto no centro */
    text-align: center;
}

.preco{ /* cor do preço */
    color: #620f0f;
}

.preco2{ /* cor do preço */
    color: #775e35;
}

.colunacard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.img2{
    width: 90%;
    height: 90%;
}

.cor4{
    background-color: red;
}

.bloco1{        /* dar uma queda de pixel em relação aos demais */
    margin-top: 2em;
}

.img4{
    height: 80%;
    width: 80%;
}

.preto{
    color: black;
}

.bloco-card{
    margin-top: 3em;
        background-color: white;
        border-radius: 3px;
        border: 2px solid #ccc;
    
}

.img10{
        width: 55%;
}

.containerEmail{
    background-color: rgb(247, 247, 247);
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    margin: 20px;
}

.btn-outline-warning{
    margin: 10px;
    box-sizing: border-box;
    color: #866709;
    border-color: #997301;
}

.btn-outline-warning:hover{
    color: #f5e1c0;
    background-color: #A58654;
}

#campoEmail{
    width: 90%;
}

.breadcrumb-item > a:hover{
    color: #997301;
    text-decoration: none;
    
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.breadcrumb{
    background-color: #F3F3F3;
}


.fonte1{
    font-size: 12px;
}

.fonte2{
    font-size: 20px;
}

.corpastel{
   color: #775e35;
}

.coluna10{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: space-around;
}

.textoRodape2{
    color: white;

}

.textoRodape2>p>a{
    color: white;
}

.textoRodape2 a:hover{
    color: #EEBE6E;
    text-decoration: underline;
}